<!--<form action="/users" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Name</label>
  <input type="text" name="user[name]"><br><br>
  <label for="email">Email</label>
  <input type="email" name="user[email]"><br><br>
  <label for="password">Password</label>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Create User">
</form>--> 

<!-- below i will recreate this form using *_tag helpers -->

<!--<%= form_tag('users', method: :post) do %><br><br>
<%= label_tag 'name' %><br><br>
<%= text_field_tag 'user[name]' %><br><br>
<%= label_tag 'password' %><br><br>
<%= password_field_tag 'user[password]' %><br><br>
<%= label_tag 'email' %><br><br>
<%= email_field_tag 'user[email]' %><br><br>
<%= submit_tag %>
<% end %> -->

<!-- and now i will build a form using form_with helper-->

<%= form_with model: @user do |form| %><br><br>
  <%= form.label :name %><br>
  <%= form.text_field :name, placeholder: 'Your name here' %><br><br>
  <%= form.label :email %><br>
  <%= form.text_field :email, placeholder: 'your@email.here' %><br><br>
  <%= form.label :password %><br>
  <%= form.password_field :password%><br><br>
  <%= form.submit%><br><br>
<% end %>